Repository lnittman/ascii-xyz: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat: add loading states, model config, and comprehensive test coverage
  apps/app/src/__tests__/model-picker.test.tsx
  apps/app/src/__tests__/use-ascii.test.tsx
  apps/app/src/app/(authenticated)/(main)/art/[id]/page.tsx
  apps/app/src/app/(authenticated)/gallery/page.tsx
  apps/app/src/app/(authenticated)/settings/models/page.tsx
  apps/app/src/components/model-picker.tsx
  apps/app/src/hooks/use-ascii.ts
  packages/backend/__tests__/ascii.test.ts
  packages/backend/__tests__/collections.test.ts
  packages/backend/__tests__/remix.test.ts
  packages/backend/__tests__/setup.ts
  packages/backend/convex/config/models.ts
  packages/backend/convex/functions/mutations/remix.ts
  packages/backend/convex/functions/queries/remix.ts
Due: frontend, backend

fix: TypeScript errors in embeddings and workflow
  packages/backend/.gitignore
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/_generated/dataModel.d.ts
  packages/backend/convex/_generated/server.d.ts
  packages/backend/convex/_generated/server.js
  packages/backend/convex/embeddings.ts
  packages/backend/convex/workflows/backfillEmbeddings.ts
Due: backend

style: arbor-style polish audit across all pages
  apps/app/src/app/(authenticated)/(main)/art/[id]/page.tsx
  apps/app/src/app/(authenticated)/collections/[id]/page.tsx
  apps/app/src/app/(authenticated)/collections/page.tsx
  apps/app/src/app/(authenticated)/gallery/page.tsx
  apps/app/src/app/(authenticated)/page.tsx
  apps/app/src/components/shared/footer-navigation.tsx
  apps/app/src/components/shared/layout/navigation-header.tsx
  apps/app/src/components/shared/menu/user/user-menu.tsx
  apps/app/src/components/shared/settings-layout/SettingsNavigation.tsx
  apps/app/src/hooks/use-presence.ts
Due: frontend

test: add MSW infrastructure and action tests
  packages/backend/__tests__/actions.test.ts
  packages/backend/__tests__/combine.test.ts
  packages/backend/__tests__/setup.ts
  packages/backend/package.json
  packages/backend/test-setup/msw/handlers/index.ts
  packages/backend/test-setup/msw/handlers/openrouter.ts
  packages/backend/test-setup/msw/server.ts
  pnpm-lock.yaml
Due: none

fix: include gifenc type declarations for Vercel build
  .gitignore
  apps/app/src/types/gifenc.d.ts
Due: none

fix: theme consistency with arbor-style design tokens
  apps/app/e2e/gallery.spec.ts
  apps/app/src/app/(authenticated)/(main)/art/[id]/page.tsx
  apps/app/src/app/(authenticated)/collections/[id]/page.tsx
  apps/app/src/app/(authenticated)/gallery/page.tsx
  apps/app/src/app/(authenticated)/u/[clerkId]/page.tsx
  apps/app/src/app/share/[token]/page.tsx
  apps/app/src/components/artwork/similar-artworks.tsx
  apps/app/src/styles/design-system.css
Due: frontend

feat: add keyboard shortcuts, command palette, and refactor hooks
  apps/app/src/app/(authenticated)/client-layout.tsx
  apps/app/src/app/(authenticated)/gallery/page.tsx
  apps/app/src/app/(authenticated)/settings/models/page.tsx
  apps/app/src/atoms/command-palette/registry.ts
  apps/app/src/atoms/keyboard/shortcuts.ts
  apps/app/src/components/layout/GlobalShortcutsProvider.tsx
  apps/app/src/components/layout/LeaderKeyIndicator.tsx
  apps/app/src/components/layout/command-palette/CommandPalette.tsx
  apps/app/src/components/layout/modal/KeyboardShortcutsModal.tsx
  apps/app/src/hooks/artwork/actions.ts
  apps/app/src/hooks/artwork/index.ts
  apps/app/src/hooks/artwork/mutations.ts
  apps/app/src/hooks/artwork/queries.ts
  apps/app/src/hooks/keyboard/use-global-shortcuts.ts
  apps/app/src/hooks/models/index.ts
  apps/app/src/hooks/models/mutations.ts
  apps/app/src/hooks/models/queries.ts
  apps/app/src/hooks/presets/index.ts
  apps/app/src/hooks/presets/mutations.ts
  apps/app/src/hooks/presets/queries.ts
  apps/app/src/hooks/shared/index.ts
  apps/app/src/hooks/shared/types.ts
  apps/app/src/hooks/use-ascii.ts
  apps/app/src/hooks/users/index.ts
  apps/app/src/hooks/users/queries.ts
  apps/app/src/lib/keyboard/default-shortcuts.ts
Due: frontend

fix(settings): convert verifyApiKey mutation to action for HTTP calls
  apps/app/src/app/(authenticated)/settings/models/page.tsx
  packages/backend/__tests__/settings.test.ts
  packages/backend/__tests__/setup.ts
  packages/backend/convex/functions/settings.ts
  packages/backend/test-setup/msw/handlers/index.ts
  packages/backend/test-setup/msw/handlers/openrouter.ts
  packages/backend/test-setup/msw/server.ts
Due: frontend, backend

fix(hooks): update use-settings to use useAction for verifyApiKey
  apps/app/src/hooks/use-settings.ts
Due: frontend

Path conditions:
  frontend: any of: apps/app/src/, but not: **/*.test.ts, **/*.test.tsx, **/__tests__/**, **/e2e/**, **/*.d.ts, **/node_modules/**, **/dist/**, **/coverage/**, **/test-setup/**
  backend: any of: packages/backend/convex/, but not: **/*.test.ts, **/*.test.tsx, **/__tests__/**, **/e2e/**, **/*.d.ts, **/node_modules/**, **/dist/**, **/coverage/**, **/test-setup/**
